.profile{ 
  padding: 40px 0 51px;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

@media screen and (max-width: 685px){
  .profile{
    padding: 42px 0 36px;
    flex-direction: column;
  }
}